body {
    display: block;
    padding: 0px 20px;
    max-width: 550px;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

:root {
    --gradient :   hsl(185deg 53% 52%) 0%,
      hsl(179deg 68% 46%) 25%,
      hsl(174deg 87% 43%) 41%,
      hsl(166deg 71% 49%) 53%,
      hsl(153deg 69% 57%) 63%,
      hsl(133deg 69% 65%) 70%,
      hsl(104deg 74% 67%) 77%,
      hsl(83deg 80% 62%) 84%,
      hsl(67deg 83% 56%) 91%,
      hsl(55deg 100% 50%) 100% ;

   --far_blue : hsl(185deg 53% 52%);

   --mid_aqua :  hsl(153deg 69% 57%);
   --mid_lime : hsl(133deg 69% 65%);
   --far_yellow : hsl(55deg 100% 50%);



}

.gone
{
  display: none;
}
